.container {
  padding: 40px 20px;
  background: var(--bg);
  color: var(--text);
  border-radius: 30px;
}

.headerSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: var(--text);
  margin: 0;
}

.bookSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  position: relative;
}

.bookImageWrapper {
  border-radius: 10px;
  overflow: hidden;
  max-width: 146px;
}

.bookImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.bookInfo {
  text-align: center;
}

.bookTitle {
  font-weight: 700;
  font-size: 14px;
  color: var(--text);
  margin: 0 0 5px 0;
}

.bookAuthor {
  font-size: 10px;
  line-height: 120%;
  color: #686868;
  margin: 0;
}

.statusIndicator {
  width: 40px;
  height: 40px;
}

.icon {
  flex-shrink: 0;
  color: #e90516;
  border-radius: 50%;
}

.progressInfo {
  text-align: center;
}

.timeLeft {
  font-size: 14px;
  line-height: 18px;
  color: #686868;
  margin: 0;
  text-align: center;
}

.errorText {
  font-size: 16px;
  line-height: 20px;
  color: #e90516;
  text-align: center;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px 40px 25px;
  }

  .headerSection {
    margin-bottom: 32px;
    align-items: flex-start;
  }

  .title {
    font-size: 28px;
    line-height: 114%;
  }

  .bookSection {
    gap: 16px;
  }

  .bookCard {
    gap: 25px;
  }

  .bookImageWrapper {
    max-width: 169px;
  }

  .bookTitle {
    font-size: 20px;
    line-height: 100%;
    margin: 0 0 4px 0;
  }

  .bookAuthor {
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
  }

  .statusIndicator {
    width: 50px;
    height: 50px;
  }

  .progressInfo {
    text-align: center;
  }

  .timeLeft {
    font-size: 14px;
    line-height: 129%;
  }

  .errorText {
    font-size: 16px;
    line-height: 20px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 847px;
    min-height: 651px;
    padding: 40px 40px 42px;
  }

  .headerSection {
    margin-bottom: 44px;
  }

  .bookSection {
    gap: 25px;
  }

  .bookImageWrapper {
    max-width: 224px;
  }

  .bookImage {
    min-height: 340px;
  }
}
