.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 10px 20px;
  background-color: var(--bg);
  padding: 11px 20px;
  border-radius: 15px;
}

.logoWrapper {
  display: flex;
}

.navWrapper {
  display: none;
}

.logoText {
  display: none;
}

.logo {
  width: 42px;
  height: 17px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatarWrapper {
  display: flex;
}

.avatar {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 50%;
  background-color: #262626;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.fullName {
  display: none;
}

.logoutBtn {
  display: none;
}

.burgerBtn {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerBtn:hover {
  background: none;
}

@media screen and (min-width: 768px) {
  .burgerBtn {
    display: none;
  }

  .navWrapper {
    display: block;
  }

  .logo {
    margin-right: 100px;
  }

  .header {
    padding: 16px;
    margin: 32px auto 16px;
    max-width: 704px;
  }

  .right {
    gap: 16px;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .logoutBtn {
    display: flex;
    padding: 12px 28px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid rgba(249, 249, 249, 0.2);
    border-radius: 50px;
    color: var(--text);
    background: transparent;
    transition: background 0.2s ease;
    justify-content: center;
  }

  .logoutBtn:hover {
    background: var(--text);
    color: var(--bg);
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1216px;
  }

  .logoWrapper {
    cursor: pointer;
  }

  .logo {
    margin-right: 4px;
  }

  .logoText {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
  }

  .avatarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .fullName {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
  }
}
