.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 10px 20px;
  background-color: var(--bg);
  padding: 11px 20px;
  border-radius: 15px;
}

.logo {
  width: 42px;
  height: 17px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 50%;
  background-color: #262626;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.burgerBtn {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerBtn:hover {
  background: none;
}

@media screen and (min-width: 768px) {
  .burgerBtn {
    display: none;
  }
}

.navWrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .navWrapper {
    display: block;
  }
}
