.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.modal {
  background-color: #1f1f1f;
  border-radius: 20px;
  padding: 40px 24px;
  width: 335px;
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 20px;
  color: #f9f9f9;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.closeButton:hover {
  opacity: 0.7;
}

.image {
  width: 140px;
  height: 213px;
  object-fit: contain;
  border-radius: 8px;
  margin: 0 auto 16px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 2px;
  color: var(--text);
  line-height: 100%;
}

.author {
  margin: 0 0 4px;
  font-size: 12px;
  color: #686868;
  line-height: 117%;
}

.pages {
  margin: 0 0 20px;
  font-size: 10px;
  color: var(--text);
}

.addButton {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  line-height: 129%;
  background-color: transparent;
  color: var(--text);
  transition: all 0.3s ease;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton:hover {
  background-color: var(--text);
  color: var(--bg);
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .modal {
    max-width: 335px;
    min-width: 280px;
    padding: 40px 24px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 500px;
    padding: 50px 50px 64px;
  }

  .image {
    width: 153px;
    height: 233px;
  }

  .title {
    font-size: 20px;
  }

  .author {
    font-size: 14px;
  }

  .pages {
    margin-bottom: 32px;
  }

  .addButton {
    padding: 14px 28px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 500px;
    padding: 50px;
  }
}
