.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 0 auto 40px;
}

.condRenderRecommendBox {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 30px;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .dashboard {
    margin: 0 calc(20px - (375px - 100vw) * 0.1) 10px;
  }
}

@media screen and (min-width: 375px) {
  .dashboard {
    max-width: 335px;
  }
}
