@import "modern-normalize/modern-normalize.css";

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"),
    url("./fonts/Gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("./fonts/Gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

[data-theme="dark"] {
  --bg: #1f1f1f;
  --text: #f9f9f9;
  --border: #444;
  --accent: #7b91f3;
  --accentHover: #5c73d6;
  --textOnAccent: #fff;
}

body {
  font-family: "Gilroy", sans-serif;
  box-sizing: border-box;
  background-color: #141414;
  color: var(--text);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 120%;
  letter-spacing: -0.02em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
